MicrosoftAppId=
MicrosoftAppPassword=
ScmType=None
ExpireAfterSeconds=30

QnAKnowledgebaseId=
QnAAuthKey=
QnAEndpointHostName=https://yourqna.azurewebsites.net/qnamaker

APPINSIGHTS_INSTRUMENTATIONKEY=